<div class="cover">
  
    <div class="page" >
        <div id="login"></div>
          <div id="loginBox">
              <h1 style="color: tomato">Login</h1>
              <form>
                <p>Username</p><input type="text" placeholder="Enter your username">
                <p>Password</p><input type="text" placeholder="Enter your password">
      
                <p><input type="button" value="Login" style="background-color: skyblue"></p>
                <p><a RouterLink="/Register" href="/register">Register</a></p>
                <a href="#">Reset Password</a>
              </form>
          </div>
        </div>
</div>


<router-outlet></router-outlet>